.container
    .row
        .jumbotron.dark-bg
            h1.display-4 Hello, #{user.name}!
            p.lead
                | Thank you for taking part in the Beta Testing of my new project. Soon, this will be the space of your Dashboard.
                | You will be able to read reports from your lessons, watch workshops and even pay for the lessons! 
            hr.my-4
            p
                | If you have any questions, you know how to contact me. 
