extends base

block content
    .container.d-flex.justify-content-center
        form.form.login-form
            .text-center.mb-4
                h1.h3.mb-3.font-weight-normal Log in to your student dashboard
            .form-label-group
                input#email.form-control(type='email' placeholder='Email address' required='' autofocus='')
                label(for='inputEmail') Email address
            .form-label-group
                input#password.form-control(type='password' placeholder='Password' required='')
                label(for='inputPassword') Password
            button.btn.btn-lg.btn-call-to-action.btn-block(type='submit') Sign in
