.row.d-flex.offer-section.align-items-center.front-section
    .col-md-12
        .modal-dialog.front(role='document')
            .modal-content.fp-modal
                .modal-header
                    h5.modal-title Music Institute is about searching
                .modal-body
                    p 
                        | Music Institute is not an accidental name for my private tuition. I believe that learning music is not a path towards a certain point on our skill ladder but the goal itself. 
                        | It's like deep research and meditation combined. It's discovering our weak points and working on them. It requires discipline and commitment. Apart from studying an instrument, we study our bodies.
                    p 
                        | I have always had a scientific approach towards music. And I am a demanding tutor that always promises to deliver the best but also expects commitment from the student. 
                        | We find a reasonable goal based on the student's needs and then we both make a deal that we will do our best to achieve that. 
                    button.btn.btn-call-to-action START LEARNING NOW
