.container 
    .row
        .col-md-4
            .alert.alert-light.classes.shadowy(role='alert')
                h4.alert-heading Piano lessons
                p 
                    | One of the most demanding instruments yet the most popular and welcoming. 
                    | Piano is a special instrument that not only brings satisfation when you learn it
                    | but also improves functions of your brain and develops very specific routes in your head
                    | You don't need to aim to be a pianist. Aim to improve your thinking!
                hr
                p.mb-0 Whenever you need to, be sure to use margin utilities to keep things nice and tidy.

        .col-md-4
            .alert.alert-light.classes.shadowy(role='alert')
                h4.alert-heading Singing lessons
                p 
                    | We need strong voices in modern world. Not only on stage but also on daily basis. 
                    | Singing brings expression and release. It allows us to open ourselves and vocalise our souls.
                    | That's why it's not unusual that students have strong emotional feelings experiences during our sessions.
                    | Because finding your voice is the first step towards discovering yourself.
                hr
                p.mb-0 Whenever you need to, be sure to use margin utilities to keep things nice and tidy.

        .col-md-4
            .alert.alert-light.classes.shadowy(role='alert')
                h4.alert-heading Theory lessons
                p 
                    | Music is beautiful to listen but learning the theory shows how complex and powerful it is. 
                    | All those magical ways of making people happy, sad or nervous
                hr
                p.mb-0 Whenever you need to, be sure to use margin utilities to keep things nice and tidy.
