.container
    .row
        .col-md-7.why-me(style='background-image: url(/images/enhanced.jpg); background-size: cover')
        .col-md-5.why-me.dark-bg
            h1 Enhanced Private Tuition
            p A simple, old-school home lessons brought by experienced teachers
    .row
        .col-md-7.why-me.dark-bg
            h1 Netflix-like experience
            p All home tuition students get access to tens of videos with piano, singing and theory workshops
        .col-md-5.why-me(style='background-image: url(/images/oneimage.jpg); background-size: cover')
    .row
        .col-md-6.why-me(style='background-image: url(/images/hub.jpg);background-size: cover')
        .col-md-6.why-me.dark-bg
            h1 All in one place
            p All your lessons, reports, payments and bookings are available right from your student dashboard when you log in on the website
    .row
        .col-md-8.why-me.dark-bg
            h1 Research and innovation
            p I am working very hard to bring more and more innovation to my teaching process. There is so much to come. Stay with me and you’ll be the first to experience new inventions.
        .col-md-4.why-me(style='background-image: url(/images/tech.jpg); background-size: cover')
